BasedOnStyle: Google
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120
BinPackArguments: false
BraceWrapping:
  AfterStruct: true
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: true