pre[class*="language-python"] {
    background: #161b22;
}

pre[class*="language-python"] .Token {
    color: #C1CCCC;
}

pre[class*="language-python"] .Token.ID {
    color: #88D6FE;
}

pre[class*="language-python"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-python"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-python"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-python"] .Token.HighlightLine,
pre[class*="language-python"] .Token.HighlightToken {
    background-color: #2d3c4d;
    padding: 2px 0;
}

pre[class*="language-python"] .Token.COMMA,
pre[class*="language-python"] .Token.COLON {
    color: #C1CCCC;
}

pre[class*="language-python"] .Token.UnaryOp,
pre[class*="language-python"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-python"] .Token.STR {
    color: #CE9178;
}

pre[class*="language-python"] .Token.COMMENT {
    color: #6A9955;
}


pre[class*="language-python"] .Token.IF,
pre[class*="language-python"] .Token.ELSE,
pre[class*="language-python"] .Token.FOR,
pre[class*="language-python"] .Token.WHILE,
pre[class*="language-python"] .Token.ELIF,
pre[class*="language-python"] .Token.RETURN,
pre[class*="language-python"] .Token.BREAK,
pre[class*="language-python"] .Token.IN,
pre[class*="language-python"] .Token.FROM,
pre[class*="language-python"] .Token.IMPORT,
pre[class*="language-python"] .Token.CONTINUE,
pre[class*="language-python"] .Token.TRY,
pre[class*="language-python"] .Token.EXCEPT,
pre[class*="language-python"] .Token.AS,
pre[class*="language-python"] .Token.PASS,
pre[class*="language-python"] .Token.DEL,
pre[class*="language-python"] .Token.FINALLY,
pre[class*="language-python"] .Token.ASSERT,
pre[class*="language-python"] .Token.WITH,
pre[class*="language-python"] .Token.RAISE,
pre[class*="language-python"] .Token.YIELD {
    color: #C586C0;
}

pre[class*="language-python"] .Token.NONE,
pre[class*="language-python"] .Token.IS,
pre[class*="language-python"] .Token.TRUE,
pre[class*="language-python"] .Token.FALSE,
pre[class*="language-python"] .Token.NOT,
pre[class*="language-python"] .Token.AND,
pre[class*="language-python"] .Token.GLOBAL,
pre[class*="language-python"] .Token.LAMBDA,
pre[class*="language-python"] .Token.NONLOCAL,
pre[class*="language-python"] .Token.OR {
    color: #569cd6;
}

pre[class*="language-python"] .Token.CLASS,
pre[class*="language-python"] .Token.DEF {
    color: #569cd6;
}

pre[class*="language-python"] .Token.ClassName,
pre[class*="language-python"] .Token.ClassInstantiation,
pre[class*="language-python"] .Token.ImportLibName {
    color: #4EC9B0;
}

pre[class*="language-python"] .Token.FunctionName,
pre[class*="language-python"] .Token.FunctionCall {
    color: #DCDCAA;
}

pre[class*="language-python"] .Token.INT,
pre[class*="language-python"] .Token.STRR,
pre[class*="language-python"] .Token.BOOL,
pre[class*="language-python"] .Token.SUPER {
    color: #4EC9B0;
}

pre[class*="language-python"] .Token.EnumID {
    color: #4FC1FF;
}