pre[class*="language-riscvasm"] {
    background: #1f1f1f;
}

pre[class*="language-riscvasm"] .Token {
    color: #C1CCCC;
}

pre[class*="language-riscvasm"] .Token.ID {
    color: #DCDCAA;
}

pre[class*="language-riscvasm"] .Token.BraceDepth-0 {
    color: #FFD700;
}

pre[class*="language-riscvasm"] .Token.BraceDepth-1 {
    color: #DA70D6;
}

pre[class*="language-riscvasm"] .Token.BraceDepth-2 {
    color: #1A9DFF;
}

pre[class*="language-riscvasm"] .Token.NUMBER {
    color: #A2CEA8;
}

pre[class*="language-riscvasm"] .Token.COMMENT {
    color: #6A9955;
}

pre[class*="language-riscvasm"] .Token.FUNCTION_CALL {
    color: #DCDCAA;
}

pre[class*="language-riscvasm"] .Token.ASM_KEYWORD {
    color: #C586C0;
}

pre[class*="language-riscvasm"] .Token.SECTION {
    color: #88D6FE;
}

pre[class*="language-riscvasm"] .Token.STRING {
    color: #CE9178;
}

pre[class*="language-riscvasm"] .Token.HASH, pre[class*="language-riscvasm"] .Token.INCLUDE {
    color: #C586C0;
}

pre[class*="language-riscvasm"] .Token.REGISTER {
    color: #569cd6;
}

pre[class*="language-riscvasm"] .Token.HeaderName {
    color: #CE9178;
    border-bottom: 1px solid #CE9178;
}

pre[class*="language-riscvasm"] .Token.STRING.Format {
    color: #88D6FE;
}

pre[class*="language-riscvasm"] .Token.STRING.Control {
    color: --control;
}

pre[class*="language-riscvasm"] .Token.ADDRESS {
    color: #D4D4D4;
}